<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Password Generator</h1>

      <div class="field">
        <label>Length</label>
        <input class="input" #number (input)="useLength(number)" type="number"/>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="useLetters()" type="checkbox" />
            Use Letters
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="useNumbers()" type="checkbox" />
            Use Numbers
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="useSymbols()" type="checkbox" />
            Use Symbols
          </label>
        </div>
      </div>

      <button [disabled]="
          !(passwordLength && (includeLetters || includeSymbols || includeNumbers))
        " (click)="generate()" class="button is-link is-fullwidth">
        Generate!
      </button>

      <div class="box" *ngIf="generatedPw">
        <label>Your Password</label>
        <input class="input" [value]="generatedPw" />
      </div>
    </div>
  </div>
</div>
